<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.reception.dao.TideMapper">
    <resultMap id="TideMap" type="nnu.edu.reception.pojo.Tide">
        <result column="stcd" property="stationId"/>
        <result column="tm" property="time"/>
        <result column="tdz" property="tideValue"/>
    </resultMap>

    <insert id="insertValue">
        insert or ignore into tide values
        <foreach collection="tideList" item="item" separator=",">
            (#{item.stationId}, #{item.time}, #{item.tideValue})
        </foreach>
    </insert>

    <insert id="createTable">
        create table if not exists ${tableName}(
           stcd text,
           tm text,
           tdz real,
           primary key(stcd, tm)
        )
    </insert>

    <select id="pageQuery" resultMap="TideMap">
        select * from tide where stcd = #{stationId} order by tm desc limit #{size} offset #{start}
    </select>

    <select id="selectAllDataByTime" resultMap="TideMap">
        select * from tide where tm &lt;= #{time}
    </select>

    <select id="selectDataByStationIdAndTime" resultMap="TideMap">
        select * from tide where stcd = #{stationId} and tm &lt;= #{time}
    </select>

    <select id="selectDataByStationIdAndStartTimeAndEndTime" resultMap="TideMap">
        select * from tide where stcd = #{stationId} and tm &gt;= #{startTime} and tm &lt;= #{endTime} order by tm desc
    </select>

    <select id="selectDataByStartTimeAndEndTime" resultMap="TideMap">
        select * from tide where tm &gt;= #{startTime} and tm &lt;= #{endTime}
    </select>

    <insert id="insertValueByTableName">
        insert or ignore into ${tableName} values
        <foreach collection="tideList" item="item" separator=",">
            (#{item.stationId}, #{item.time}, #{item.tideValue})
        </foreach>
    </insert>

    <delete id="deleteDataByTime">
        delete from tide where tm &lt;= #{time}
    </delete>

    <select id="queryAllStationId" resultType="java.lang.String">
        select distinct stcd from tide
    </select>
</mapper>